@model Dish

<div class="container w-75 mx-auto">
  <h2>Edit Dish</h2>

  <form asp-controller="Dish" asp-action="UpdateDish" asp-route-dishId="@Model.DishId" method="POST" class="shadow p-3 rounded">
    <div class="mb-3">
      <label asp-for="Name" class="form-label"></label>
      <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
      <input asp-for="Name" class="form-control" value="@Model.Name">
    </div>

    <div class="mb-3">
      <label asp-for="Chef" class="form-label"></label>
      <span asp-validation-for="Chef" class="text-danger font-weight-bold"></span>
      <input asp-for="Chef" class="form-control" value="@Model.Chef">
    </div>

    <div class="mb-3">
      <label asp-for="Calories" class="form-label"></label>
      <span asp-validation-for="Calories" class="text-danger font-weight-bold"></span>
      <input asp-for="Calories" class="form-control" value="@Model.Calories">
    </div>

    <div class="mb-3">
      <label asp-for="Tastiness" class="form-label"></label>
      <select asp-for="Tastiness" class="form-select" value="@Model.Tastiness">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="mb-3">
      <label asp-for="Description" class="form-label"></label>
      <span asp-validation-for="Description" class="text-danger font-weight-bold"></span>
      <textarea asp-for="Description" class="form-control" value="@Model.Description" rows="3"></textarea>
    </div>
    
    <div class="d-grid">
      <button class="btn btn-primary">Edit</button>
    </div>
    
  </form>
</div>